*{
    box-sizing: border-box;
  }
  body{
    /* background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */

  }
  .container{
    color: white;
    padding: 10px;
    /* background-color: red; */
    max-width: fit-content;
    margin: 50px auto;
  }
  .btn{
    border: none;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-add{
    background: #194064;
    color: white;
  }
  .addContainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addContainer form{
    width: 400px;
    background-color: rgb(30, 29, 29);
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .addContainer form label{
    font-size: 18;
  
  }
  .addContainer form input{
    font-size: 18px;
    padding: 5px;
    margin-top:5px;
    margin-bottom: 10px;
    color: white;
  }
  .addContainer form button{
    background-color: royalblue;
    color: white;
    font-weight: 500;
    margin-top: 20px;
  }
  .addContainer form .close-btn{
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }
  .tableContainer{
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
  .tableContainer table{
    
  }
  .tableContainer table thead tr{
    background-color: #f0eaea;
    color: black;
    
  }
  .tableContainer table thead tr th,
  .tableContainer table tbody tr td{
    min-width: 200px;
    padding: 7px;
    border: 1px solid rgb(198, 196, 196);
    text-align: center;
    
  }
  .tableContainer table tbody tr td{
    border-bottom: 1px solid rgb(169, 169, 169);
  }
  .btn-edit, .btn-delete{
    font-size: 16px;
    padding: 5px 10px;
    margin: 0px 10px;
  }
  .btn-edit{
    background-color: rgba(255, 255, 0, 0.63);
  }
  .btn-delete{
    background-color: rgba(255, 0, 0, 0.664);
  }